# 디폴트 무시된 파일
/shelf/
/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

basics-01-starting-code\.idea\basics-01-starting-code.iml 
basics-01-starting-code\.idea\gbrowsers.xml
basics-01-starting-code\.idea\modules.xml
basics-01-starting-code\.idea\vcs.xml
basics-01-starting-code\.idea\workspace.xml