<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="round">
        Round {{ currentRound+1 }}
      </section>
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterBarStyle">
            {{ monsterHealth }} / {{ maxHealth }}
          </div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerBarStyle">
            {{ playerHealth }} / {{ maxHealth }}
          </div>
        </div>
      </section>
      <section class="container" v-if="playerHealth <= 0 || monsterHealth <= 0">
        <h2> GameOver! </h2>
        <h3 v-if="isDefeated"> you lost</h3>
        <h3 v-else-if="isWin"> you win</h3>
        <h3 v-else> it's a draw</h3>
      </section>
      <section id="controls">
        <button @click="attackMonster">ATTACK</button>
        <button
          :disabled="isEnableSpecialAttack"
          @click="specialAttackMonster">
          SPECIAL ATTACK ({{ specialAttackCoolDown }})
        </button>
        <button @click="healPlayer">HEAL</button>
        <button>SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-if="isWin">
            you win
          </li>
          <li v-if="isDefeated">
            you loose
          </li>
          <li v-if="isDraw">
            draw
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
